@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
.mulish-font {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* css shared styles start here */
.display-flex{
    display: flex;
}

body{
    max-width: 1170px;
    border: 1px solid red;
    margin: 0 auto;
}
/* css shared styles end here */


/* navbar style start here  */
.navbar{
    justify-content: space-between;
}



/* navbar style end here  */
